@page "/verduras"
@page "/verduras/{VerduraId:int}"

@inject VerduraBLL verduraBLL
@inject VitaminaBLL vitaminaBLL




<EditForm Model="verduras" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header">
            <h3>Registro de verduras </h3>

        </div>

        <div class="card-body">

            <div class="card-body">

                <div class="row justify-content-between">

                    <div class="col-3">
                        <label>VerduraId</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" @bind-value="verduras.VerduraId"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <button class="btn btn-outline-primary" type="button" @onclick="Buscar"> <i
                                    class="oi oi-magnifying-glass" /> </button>
                        </div>
                    </div>

                    <div class="col-3">
                        <label>Fecha Creacion</label>
                        <input type="date" class="form-control" @bind-value="verduras.Fecha"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                </div>
                @*Nombre de la verdura*@
                <label>Nombre de la Verdura</label>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" @bind-value="verduras.Nombre"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>
            @* Verdura DETALLE *@
            <fieldset class="border-success">
                <div class="card-body">
                    <div class="row">
                        @* Vitamina Id *@
                        <div class="col-2">
                            <label>Vitaminas</label>
                            <div class="btn-group me-2" role="group" aria-label="Second group">
                                <select class="form-select" @bind="detalleVerduras.VitaminaId"
                                    aria-label=".form-select-lg example">
                                    <option selected>Seleccione</option>
                                    @foreach (var vitamina in listVitaminas)
                                    {
                                        <option value="@vitamina.VitaminaId"> @vitamina.Nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                        @* Cantidad *@
                        <div class="col-2">
                            <label>Cantidad</label>
                            <input type="number" class="form-control" @bind-value="detalleVerduras .Cantidad"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                        </div>
                        @*Boton de agregar detalle*@
                        <div class="col-2">
                            <button type="button" class="btn btn-outline-primary input-group-text mt-4"
                                @onclick="AgregarDetalle">
                                <span class="oi oi-plus">Agregar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>


            @* Tabla de detalles *@
            <hr />
            <table class="table table-bordered table-light">
                <thead class="thead">
                    <tr class="table">
                        <th>VitaminaId</th>
                        <th>Cantidad</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in verduras.Detalle)
                    {
                        <tr>
                            <td>@item.VitaminaId</td>
                            <td>@item.Cantidad</td>


                        </tr>
                    }
                </tbody>
            </table>
            <hr />
            @*Observaciones de las verduras*@
            <div class="form-floating">
                <textarea type="text" class="form-control" @bind="verduras.Observaciones"
                    placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Observaciones de la Verdura</label>



            </div>
        </div>
    </div>


    <div class="card-footer">

        <div class="form-group text-center" display: inline-block>
                <button type="button" class=" bi bi-file-earmark-plus btn btn-lg btn-primary" @onclick="Nuevo">Nuevo</button>
                <button type="submit" class=" bi bi-save btn btn-lg btn-success">Guardar</button>
                <button type="button" class="  bi bi-trash3 btn btn-lg btn-danger " @onclick="Eliminar">Eliminar</button>
     </div>

    </div>

</EditForm>

@code {



    [Parameter]
    public int VerduraId { get; set; }
    public Verduras verduras { get; set; } = new Verduras();
    public VerdurasDetalles detalleVerduras { get; set; } = new VerdurasDetalles();
    public List<Vitaminas> listVitaminas { get; set; } = new List<Vitaminas>();
    public List<Verduras> listVerduras { get; set; } = new List<Verduras>();


    protected override void OnInitialized()
    {
        if (VerduraId > 0)
        {

            this.verduras.VerduraId = VerduraId;
            this.Buscar();
        }
        
        //vitamina.Fecha = DateTime.Now;


        listVitaminas = vitaminaBLL.GetVitaminas(o => true);

    }


    public void Nuevo()
    {
        verduras = new Verduras();
    }

    public void Guardar()
    {
        bool guardo;

        guardo = verduraBLL.Guardar(verduras);

        if (guardo)
        {
            Nuevo();

        }

    }

    private void Buscar()
    {
        if (verduras.VerduraId > 0)
        {
            var encontrado = verduraBLL.Buscar(verduras.VerduraId);

            if (encontrado != null)
                this.verduras = encontrado;
        }
    }

    public void AgregarDetalle()
    {
        var vitamina = vitaminaBLL.Buscar(detalleVerduras.VitaminaId);
        detalleVerduras.Descripcion = vitamina!.Nombre;
        this.verduras.Detalle.Add(this.detalleVerduras);
        this.detalleVerduras = new VerdurasDetalles();
    }

    public void Eliminar()
    {
        bool elimino;

        elimino = verduraBLL.Eliminar(verduras);

        if (elimino)
        {
            Nuevo();

        }

    }


}